name: Build Overwolf App CI

on:
  push:
    paths:
      - "overwolf/manifest.json"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 7
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "pnpm"
      - run: pnpm install
      - name: Build Overwolf app
        run: pnpm export
      - name: Release Overwolf app
        run: pnpm release  
      - name: Archive opk
        uses: actions/upload-artifact@v3
        with:
          name: opk
          path: /home/runner/work/diablo4thgl.opk
